@use "../../../../global.scss";

.input-container {
    display: flex;
    flex: row;
    align-items: end;
    min-width: 320px;
    gap: .5rem;

    .input-element {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .25rem;

        p {
            margin-left: .75rem;
        }

        input {
            width: 100%;
            border: 1px solid rgba(global.$primary, .2);
            border-radius: .5rem;
            outline: none;
            padding: .375rem .75rem;
            transition: all ease .2s;

            &::placeholder {
                color: rgba(global.$primary, .6)
            }

            &:hover,
            &:focus {
                background: rgba(global.$primary, .1);
            }

            &:focus {
                border-color: global.$primary;
            }

            /* &:focus {
                background: global.$primary;
                color: global.$white;
                border-color: global.$primary;

                &::placeholder {
                    color: global.$white;
                }
            } */
        }
    }

    #toggle-password {
        display: flex;
        align-items: center;
        background: none;
        border: 1px solid rgba(global.$primary, .2);
        color: global.$primary;
        padding: .5rem;
        border-radius: .5rem;
        transition: all ease .2s;

        &:hover {
            cursor: pointer;
            background: rgba(global.$primary, .1);
        }
    }
}