$primary: #2B2D42;
$primary-light: #3B3E5A;
$primary-lighter: #4B4E73;
$success: #4CAF50;
$warning: #FFC107;
$error: #D32F2F;
$white: #FFFFFF;
$gray: #7d8488;
$gray-light: #D3D3D3;
$off-white: #F8F8F8;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
}

body {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary-lighter;
    }
}

.lucide {
    width: 16px;
    height: 16px;
}

.error-fg {
    color: $error !important;
}

.warning-fg {
    color: $warning !important;
}

.success-fg {
    color: $success !important;
}

.white-fg {
    color: $white !important;
}

.error-bg {
    background: $error !important;
}

.warning-bg {
    background: $warning !important;
}

.success-bg {
    background: $success !important;
}

.white-bg {
    background: $white !important;
}

.shadow {
    box-shadow: 0 4px 8px rgba(#000000, .15);
}

kbd {
    background: $white;
    color: $primary;
    padding: 1px 4px;
    border-radius: 4px;
    white-space: nowrap;
}