BASE_URL=<http_or_https_url>://<domain_or_ip>

# --- Database Configuration ---
AUTH_DB_NAME=<auth_db_name>
AUTH_DB_USER=<auth_db_user>
AUTH_DB_PASS=<auth_db_pass>

BUILDINGS_DB_NAME=<buildings_db_name>
BUILDINGS_DB_USER=<buildings_db_user>
BUILDINGS_DB_PASS=<buildings_db_pass>

LINES_DB_NAME=<lines_db_name>
LINES_DB_USER=<lines_db_user>
LINES_DB_PASS=<lines_db_pass>

POLES_DB_NAME=<poles_db_name>
POLES_DB_USER=<poles_db_user>
POLES_DB_PASS=<poles_db_pass>

# ASP.NET Core Configuration
ASPNETCORE_ENVIRONMENT=<aspnetcore_environment>

# JWT Configuration
JWT_ISSUER=<jwt_issuer>
JWT_AUDIENCE=<jwt_audience>
JWT_SIGNING_ALGORITHM=<jwt_signing_algorithm>
JWT_SECRET=<jwt_secret>
JWT_SECRET_BASE64=<jwt_secret_base64>
JWT_EXPIRATION_TIME_HRS=<jwt_expiration_time_hrs>

# Client Configuration
VITE_API_URL=$BASE_URL/<api_path>
VITE_TILE_SERVER_URL=$BASE_URL/<tile_server_path>