@use "../../../../global.scss";

#list-page {
    margin-top: 96px;
    display: grid;
    grid-template-columns: 200px 1fr;

    .data-table-wrapper {
        width: 90% !important;
    }

    .feature-type-selector {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 200px;
        padding: 16px;
        border-radius: 0 12px 12px 0;
        margin: auto 0 auto;
        height: fit-content;
        background: global.$primary;

        h2 {
            color: global.$white;
            margin-bottom: 8px;
        }

        .feature-type-sections {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .feature-type-section {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h3 {
                    color: global.$white;
                    margin-bottom: 4px;
                    font-weight: normal;
                }

                button {
                    background: global.$primary-lighter;
                    color: global.$white;
                    border: none;
                    padding: 12px 12px;
                    border-radius: 4px;
                    text-align: left;
                    transition: all ease .2s;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    &:hover {
                        cursor: pointer;
                        background: global.$white;
                        color: global.$primary;
                    }

                    &.selected {
                        background: global.$white;
                        color: global.$primary;
                    }
                }
            }
        }
    }
}