@use "../../../../global.scss";

#list-page {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 12.5rem 1fr;

    .data-table-wrapper {
        width: 90% !important;
    }

    .feature-type-selector {
        position: fixed;
        top: 4rem;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 12.5rem;
        padding: 1rem;
        border-radius: 0 12px 12px 0;
        margin: auto 0 auto;
        height: fit-content;
        background: global.$primary;

        h2 {
            color: global.$white;
            margin-bottom: .5rem;
        }

        .feature-type-sections {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .feature-type-section {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                h3 {
                    color: global.$white;
                    margin-bottom: .25rem;
                    font-weight: normal;
                }

                button {
                    background: global.$primary-lighter;
                    color: global.$white;
                    border: none;
                    padding: .75rem .75rem;
                    border-radius: .25rem;
                    text-align: left;
                    transition: all ease .2s;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    &:hover {
                        cursor: pointer;
                        background: global.$white;
                        color: global.$primary;
                    }

                    &.selected {
                        background: global.$white;
                        color: global.$primary;
                    }
                }
            }
        }
    }
}
