@use "../../../../global.scss";

.data-table-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 32px auto 0 auto;

    .data-table-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 16px 0;

        p {
            font-size: 24px;
        }

        .data-table-header-actions {
            display: flex;
            gap: 24px;

            .input-container {
                font-size: 16px;
                color: global.$primary;
                width: 200px;
                min-width: 0px !important;

                input {
                    border-radius: 12px;
                }
            }

            .column-toggle-dropdown {
                position: relative;
                display: inline-block;

                .column-toggle-button {
                    display: flex;
                    align-items: center;
                    background: global.$primary;
                    gap: 8px;
                    padding: 8px 16px;
                    border-radius: 12px;
                    cursor: pointer;
                    transition: background-color 0.2s;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background-color: global.$primary-light;
                    }
                }

                .column-toggle-menu {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background: global.$white;
                    border: 1px solid rgba(global.$primary-lighter, .25);
                    border-radius: 12px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    z-index: 1000;
                    min-width: 200px;
                    margin-top: 4px;

                    .column-toggle-header {
                        display: flex;
                        gap: 4px;
                        padding: 12px;
                        border-bottom: 1px solid rgba(global.$primary-lighter, .25);

                        .toggle-all-button {
                            flex: 1;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 8px 8px;
                            border: 1px solid global.$off-white;
                            background: global.$primary-light;
                            border-radius: 8px;
                            cursor: pointer;
                            font-size: 12px;
                            transition: background-color 0.2s;

                            &:hover {
                                background-color: global.$primary-lighter;
                            }
                        }
                    }

                    .column-toggle-list {
                        max-height: 450px;
                        overflow-y: auto;

                        &::-webkit-scrollbar {
                            width: 8px;
                        }

                        &::-webkit-scrollbar-track {
                            background: none;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: global.$primary-lighter;
                        }

                        .column-toggle-item {
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            padding: 12px;
                            cursor: pointer;
                            transition: background-color 0.2s;

                            &:hover {
                                background-color: #f5f5f5;

                                .checkbox {
                                    border-color: global.$primary;
                                }
                            }

                            .checkbox {
                                width: 16px;
                                height: 16px;
                                border: 2px solid #ddd;
                                border-radius: 3px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: all 0.2s;

                                svg {
                                    color: global.$primary;
                                }
                            }

                            span {
                                user-select: none;
                            }
                        }
                    }
                }
            }


            .items-per-page-selector {
                display: flex;
                gap: 8px;
                align-items: center;

                p {
                    font-size: 16px;
                    color: global.$primary;
                }

                select {
                    color: global.$primary;
                    font-size: 16px;
                    padding: 4px 8px;
                    border-radius: 12px;
                    background: none;
                    border: 1px solid rgba(global.$primary-lighter, .25);
                    box-shadow: 0 2px 8px rgba(global.$primary, .1);
                }
            }

            button {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                background: global.$primary;
                color: global.$white;
                border: none;
                border-radius: 12px;
                padding: 8px 16px;
                cursor: pointer;
                font-size: 16px;
                box-shadow: 0 2px 8px rgba(global.$primary, .1);
                transition: all .2s ease;

                &:hover {
                    background: global.$primary-light;
                }

                &.loading {
                    cursor: not-allowed;
                    background: global.$gray;

                    &:hover {
                        background: global.$gray;
                    }
                }

                .rotating {
                    animation: rotate 2s linear infinite;
                }
            }
        }
    }

    .data-table {
        margin: 0 auto;
        border: 1px solid rgba(global.$primary-lighter, .25);
        border-radius: 12px;
        overflow: hidden;
        width: 100%;

        table {
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
            overflow: hidden;

            tr {
                border: none;
                transition: background .2s ease;

                &:nth-child(odd) {
                    background: global.$off-white
                }

                &:nth-child(even) {
                    background: global.$white
                }

                &:hover {
                    background: global.$gray-light;
                }

                th,
                td {
                    padding: 12px 12px;
                    border-left: 1px solid rgba(global.$primary-lighter, .1);
                    width: fit-content;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    &:first-child {
                        border: none;
                        width: 60px;
                    }

                    &:nth-child(2) {
                        width: 120px;
                    }
                }

                th {
                    background: global.$primary;
                    color: global.$white;
                    user-select: none;

                    &:last-child,
                    &:first-child {
                        .header-content {
                            justify-content: center;

                            .header-actions {
                                display: none;
                            }
                        }
                    }

                    &#header-userRole,
                    &#header-actions,
                    &#header-isActive {
                        width: 120px;
                    }

                    .header-content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 8px;

                        &:hover {
                            cursor: pointer;
                        }

                        p {
                            text-align: left;
                            font-weight: normal;
                            cursor: pointer;
                            flex-grow: 1;

                            &.active {
                                font-weight: 600;
                            }
                        }

                        .header-actions {
                            display: flex;
                            align-items: center;

                            button {
                                display: flex;
                                align-items: center;
                                background: none;
                                border: none;
                                color: global.$white;
                                padding: 4px;
                                transition: all .2s ease;
                                border-radius: 4px;

                                &:hover {
                                    background: global.$primary-lighter;
                                    cursor: pointer;
                                }

                                &:focus {
                                    outline: none
                                }

                                &:has(.disabled:hover) {
                                    background: none;
                                }

                                .disabled {
                                    color: rgba(global.$white, .25);

                                    &:hover {
                                        cursor: not-allowed;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .data-table-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 16px 0 32px 0;
        gap: 32px;

        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 12px;
            flex-grow: 1;

            button {
                padding: 8px 12px;
                border: none;
                border-radius: 12px;
                background: global.$primary;
                color: global.$white;
                cursor: pointer;
                display: flex;
                align-items: center;
                box-shadow: 0 2px 8px rgba(global.$primary, .1);
                gap: 8px;

                &:disabled {
                    background: global.$gray;
                    cursor: not-allowed;
                }
            }

        }

        .goto-page {
            display: flex;
            gap: 8px;

            input {
                width: 96px;
                border-radius: 12px;
                padding: 4px 8px;
                background: none;
                border: 1px solid rgba(global.$primary-lighter, .25);
                box-shadow: 0 2px 8px rgba(global.$primary, .1);
                color: global.$primary;
                font-size: 16px;
                text-align: center;

                &::placeholder {
                    color: rgba(global.$primary, .5);
                }
            }

            button {
                padding: 8px 12px;
                border: none;
                border-radius: 12px;
                background: global.$primary;
                color: global.$white;
                cursor: pointer;
                display: flex;
                align-items: center;
                box-shadow: 0 2px 8px rgba(global.$primary, .1);
                gap: 8px;

                &:disabled {
                    background: global.$gray;
                    cursor: not-allowed;
                }
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}