{
	order jwtauth before basicauth
}
{$BASE_URL} {
    tls /usr/share/caddy/localhost.pem /usr/share/caddy/localhost-key.pem

	header {
        Access-Control-Allow-Origin "{$BASE_URL}:3000"
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Accept, Content-Type, Authorization, Credentials"
        Access-Control-Allow-Credentials "true"
    }

	@options {
        method OPTIONS
    }

    handle @options {
        respond "" 204
    }
    
    handle_path /api/docs* {
        handle_path /auth* {
            reverse_proxy auth_service:8080
        }
        handle_path /buildings* {
            reverse_proxy buildings_service:8080
        }
        handle_path /poles* {
            reverse_proxy poles_service:8080
        }
        handle_path /lines* {
            reverse_proxy lines_service:8080
        }

        handle {
            root * /usr/share/caddy
            try_files {path} docs.html
            file_server
        }
    }

    handle /api/v1/auth/login {
        reverse_proxy auth_service:8080
    }

    handle /api/v1/auth* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy auth_service:8080
    }
    
    handle /api/v1/buildings* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy buildings_service:8080
    }

    handle /api/v1/adrBina* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy buildings_service:8080
    }

    handle /api/v1/trafoBina* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy buildings_service:8080
    }

    handle /api/v1/agHat* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}
        
        reverse_proxy lines_service:8080
    }

    handle /api/v1/ogHat* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}
        
        reverse_proxy lines_service:8080
    }

    handle /api/v1/rekortman* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}
        
        reverse_proxy lines_service:8080
    }


    handle /api/v1/agDirek* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy poles_service:8080
    }

    handle /api/v1/aydDirek* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy poles_service:8080
    }

    handle /api/v1/ogMusDirek* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy poles_service:8080
    }

    handle_path /tiles* {
        reverse_proxy tile_server:3000 {
            # Remove CORS headers added by the tile server
            header_down -Access-Control-Allow-Origin
        }
    }

    handle {
        reverse_proxy client:3000
    }
}