{
	order jwtauth before basicauth
}

localhost {
    handle_path /docs/auth* {
        reverse_proxy auth_service:8080
    }
    handle_path /docs/buildings* {
        reverse_proxy buildings_service:8080
    }
    handle_path /docs/poles* {
        reverse_proxy poles_service:8080
    }
    handle_path /docs/lines* {
        reverse_proxy lines_service:8080
    }

    handle /api/v1/auth/login {
        reverse_proxy auth_service:8080
    }

    handle /api/v1/auth* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy auth_service:8080
    }
    
    handle /api/v1/buildings* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy buildings_service:8080
    }

    handle /api/v1/adrBina* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy buildings_service:8080
    }

    handle /api/v1/poles* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}

        reverse_proxy poles_service:8080
    }

    handle /api/v1/agHat* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}
        
        reverse_proxy lines_service:8080
    }

    handle /api/v1/ogHat* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}
        
        reverse_proxy lines_service:8080
    }

    handle /api/v1/rekortman* {
        jwtauth {
	    	sign_key {$JWT_SECRET_BASE64}
	    	sign_alg HS256
	    	from_header X-Api-Token
	    	from_cookies user_session
	    	issuer_whitelist {$JWT_ISSUER}
	    	audience_whitelist {$JWT_AUDIENCE}
	    	user_claims sub email user_role aud iss exp iat nbf
            meta_claims "user_role -> role"
	    }

        request_header Role {http.auth.user.role}
        
        reverse_proxy lines_service:8080
    }

    handle {
        root * /usr/share/caddy
        try_files {path} default.html
        file_server
    }
}

# C3D-67: Integrate JWT authentication