@use "../../../../../../global.scss";

#mouse-position {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    padding: .28125rem .625rem;
    border-radius: .75rem;
    background: global.$primary;
    color: global.$white;
    width: 8.5rem;
    display: flex;
    justify-content: space-between;

    span {
        font-size: .75rem;

        &#number {
            width: 45%;
        }
    }
}