@use "../../../../global.scss";

#admin-page {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;

    #stats {
        display: grid;
        flex-direction: row;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto 15% auto 15%;
        height: 8rem;
        gap: .75rem;

        .card {
            background-color: global.$off-white;
            flex-grow: 1;
            border: 1px solid rgba(global.$primary-lighter, .25);
            border-radius: .75rem;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 2px 8px rgba(global.$primary, .1);

            .upper {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: space-between;

                p {
                    color: global.$primary;
                }

                svg {
                    color: global.$primary;
                }
            }

            .lower {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: space-between;

                .content {
                    font-size: 2.25rem;
                    font-weight: bold;
                }

                .info {
                    color: global.$primary-light;
                }
            }
        }
    }

    .action-button-wrapper {
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }

    .modal {
        h2 {
            font-size: 1.5rem;
            margin-bottom: .75rem;
        }

        .form-group {
            margin-bottom: 1rem;

            label {
                display: block;
                margin-bottom: 0.5rem;
            }

            input,
            select {
                width: 100%;
                padding: .5rem;
                border: 1px solid rgba(global.$primary-lighter, 0.25);
                background: global.$white;
                border-radius: .25rem;

                &:focus {
                    border-color: global.$primary;
                    background: global.$off-white;
                    outline: none;
                }
            }

            &.password-group {
                display: flex;
                align-items: end;
                gap: .5rem;

                .input-group {
                    flex-grow: 1;
                }

                button {
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    height: fit-content;
                    padding: .625rem;
                    border-radius: .25rem;
                    background: none;
                    cursor: pointer;
                    border: 1px solid rgba(global.$primary-lighter, 0.25);

                    &:hover {
                        background: rgba(global.$primary-lighter, 0.1);
                    }
                }
            }
        }

        .modal-actions {
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            margin-top: 1.5rem;

            button {
                padding: 0.5rem 1rem;
                border: none;
                border-radius: .5rem;
                cursor: pointer;

                &[type="submit"] {
                    background-color: global.$success;
                    color: white;
                }

                &[type="button"] {
                    background-color: global.$error;
                    color: white;
                }
            }
        }

        .error-text {
            display: flex;
            align-items: center;
            gap: .75rem;
            padding: .75rem;
            margin-top: .75rem;
            border-radius: .75rem;
            color: global.$white;
            background-color: global.$error;

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}