@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb {
  background: #4B4E73;
}

.lucide {
  width: 16px;
  height: 16px;
}

.error-fg {
  color: #D32F2F !important;
}

.warning-fg {
  color: #FFC107 !important;
}

.success-fg {
  color: #4CAF50 !important;
}

.white-fg {
  color: #FFFFFF !important;
}

.error-bg {
  background: #D32F2F !important;
}

.warning-bg {
  background: #FFC107 !important;
}

.success-bg {
  background: #4CAF50 !important;
}

.white-bg {
  background: #FFFFFF !important;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#admin-page {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
}
#admin-page #stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 15% auto 15%;
  height: 128px;
  gap: 12px;
}
#admin-page #stats .card {
  background-color: #F8F8F8;
  flex-grow: 1;
  border: 1px solid rgba(75, 78, 115, 0.25);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(43, 45, 66, 0.1);
}
#admin-page #stats .card .upper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
#admin-page #stats .card .upper p {
  color: #2B2D42;
}
#admin-page #stats .card .upper svg {
  color: #2B2D42;
}
#admin-page #stats .card .lower {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
#admin-page #stats .card .lower .content {
  font-size: 36px;
  font-weight: bold;
}
#admin-page #stats .card .lower .info {
  color: #3B3E5A;
}
#admin-page .action-button-wrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
#admin-page .modal h2 {
  font-size: 24px;
  margin-bottom: 12px;
}
#admin-page .modal .form-group {
  margin-bottom: 1rem;
}
#admin-page .modal .form-group label {
  display: block;
  margin-bottom: 0.5rem;
}
#admin-page .modal .form-group input,
#admin-page .modal .form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid rgba(75, 78, 115, 0.25);
  background: #FFFFFF;
  border-radius: 4px;
}
#admin-page .modal .form-group input:focus,
#admin-page .modal .form-group select:focus {
  border-color: #2B2D42;
  background: #F8F8F8;
  outline: none;
}
#admin-page .modal .form-group.password-group {
  display: flex;
  align-items: end;
  gap: 8px;
}
#admin-page .modal .form-group.password-group .input-group {
  flex-grow: 1;
}
#admin-page .modal .form-group.password-group button {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  border: 1px solid rgba(75, 78, 115, 0.25);
}
#admin-page .modal .form-group.password-group button:hover {
  background: rgba(75, 78, 115, 0.1);
}
#admin-page .modal .modal-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
#admin-page .modal .modal-actions button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#admin-page .modal .modal-actions button[type=submit] {
  background-color: #4CAF50;
  color: white;
}
#admin-page .modal .modal-actions button[type=button] {
  background-color: #D32F2F;
  color: white;
}
#admin-page .modal .error-text {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  margin-top: 12px;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: #D32F2F;
}
#admin-page .modal .error-text svg {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=admin.css.map */