@use "../../../../../global.scss";

.view-toggle {
    position: absolute;
    z-index: 1000;
    bottom: 48px;
    left: 56px;
    display: flex;
    gap: 2px;
    background-color: global.$primary;
    border-radius: 12px;
    overflow: hidden;

    .selector {
        position: absolute;
        background: global.$primary-lighter;
        height: 28px;
        width: 28px;

        top: 2px;
        left: 2px;
        border-radius: 10px;
        z-index: -1;
        transition: left 0.3s ease;

        &.active {
            left: 36px
        }
    }

    .toggle-button {
        display: flex;
        background: none;
        color: global.$white;
        padding: 8px;
        border: none;
    }
}