@use "../../../../../global.scss";

.layer-control-section {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    h4 {
        font-size: .75rem;
        opacity: .65;
        text-transform: uppercase;
        letter-spacing: .125rem
    }
}