@use "../../../../../../global.scss";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000 !important;
}

.add-layer-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001 !important;
    background: global.$white;
    padding: 2rem;
    border-radius: .75rem;
    max-width: 31.125rem;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;

    h2 {
        font-size: 1.5rem;
        margin-bottom: .75rem;
    }

    .form-group {
        margin-bottom: 1rem;

        label {
            display: block;
            margin-bottom: 0.5rem;
        }

        input {
            width: 100%;
            padding: .5rem;
            border: 1px solid rgba(global.$primary-lighter, 0.25);
            background: global.$white;
            border-radius: .25rem;

            &:focus {
                border-color: global.$primary;
                background: global.$off-white;
                outline: none;
            }
        }
        
        .help-text {
            font-size: 0.875rem;
            color: global.$gray;
            margin-top: 0.25rem;
        }
    }

    .modal-actions {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        margin-top: 1.5rem;

        button {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: .5rem;
            cursor: pointer;

            &.cancel-btn {
                background-color: global.$error;
                color: global.$white;
            }

            &.add-btn {
                background-color: global.$success;
                color: global.$white;
                
                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}
