@use "../../../../global.scss";

.badge {
    font-size: .75rem;
    border-radius: 1000px;
    padding: .25rem .5rem;
    display: inline-block;
    user-select: none;

    &.badge-success {
        background-color: global.$success;
        color: global.$white;
    }

    &.badge-error {
        background-color: global.$error;
        color: global.$white;
    }

    &.badge-warning {
        background-color: global.$warning;
        color: global.$primary;
    }
}