@use "../../../../global.scss";

#logo-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: global.$white;
    border-radius: 0 0 .75rem 0;
    height: 4rem;

    #logo {
        height: 3rem;
        margin: .5rem 0;
    }
}

#actions {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: .5rem .875rem;
    background: global.$white;
    border-radius: 0 0 0 .75rem;
    height: 4rem;

    #link-button {
        color: global.$primary;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .5rem;
        outline: none;
        border: none;
        background: none;
        padding: .5rem;
        transition: all 0.2s ease;
        border-radius: .5rem;

        &.error-fg {
            &:hover {
                background: global.$error !important;
                color: global.$white !important;
            }
        }

        &:hover {
            cursor: pointer;
            background: global.$primary;
            color: global.$white;
        }

        &.active {
            font-weight: 600;
        }
    }
}