@use "../../../../../../global.scss";

.view-toggle {
    position: absolute;
    z-index: 1000;
    bottom: 3rem;
    right: 1rem;
    display: flex;
    gap: .125rem;
    background-color: global.$primary;
    border-radius: .75rem;
    overflow: hidden;

    .selector {
        position: absolute;
        background: global.$primary-lighter;
        height: 1.5rem;
        width: 1.5rem;
        top: .25rem;
        left: .25rem;
        border-radius: .5rem;
        z-index: -1;
        transition: left 0.3s ease;

        &.active {
            left: calc(100% - 1.75rem);
        }
    }

    .toggle-button {
        display: flex;
        background: none;
        color: global.$white;
        padding: .5rem;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }
}