@use "../../../../../../global.scss";

#hover-card {
    position: absolute;
    z-index: 1000;
    background: global.$primary;
    color: global.$white;
    padding: .75rem;
    border-radius: .5rem;
    width: fit-content;
    left: -9999px;
    top: -9999px;

    &.hidden {
        display: none;
    }

    &.visible {
        display: flex !important;
    }

    #content {
        display: flex;
        flex-direction: column;
        min-width: fit-content;
        gap: .25rem;

        h3 {
            min-width: fit-content;
            margin: 0;
            font-size: .875rem;
            gap: .25rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            span {
                text-transform: uppercase;
            }
        }

        #divider {
            height: 1px;
            background: rgba(global.$white, .3);
            margin: .25rem 0;
        }

        p {
            min-width: fit-content;
            display: flex;
            flex-direction: row;
            gap: .25rem;
            flex-wrap: nowrap;
            word-wrap: normal;
            text-wrap-mode: nowrap;
        }
    }
}