@use "../../../../../global.scss";

#layer-control-toggle {
    position: absolute;
    top: 72px;
    right: 16px;
    z-index: 1000;
    transition: all .3s ease;
    border: none;
    border-radius: 8px;
    background-color: global.$primary;
    color: global.$white;
    padding: 12px;
    display: flex;
    align-items: center;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &.open {
        right: 304px;
        border-radius: 8px 0 0 8px;
    }
}

.layer-control-content {
    z-index: 1000;
    position: absolute;
    top: 72px;
    right: -320px;
    width: 304px;
    transition: all .3s ease;
    background: global.$primary;
    padding: 16px 12px 16px 16px;
    border-radius: 8px 0 0 8px;
    color: global.$white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100vh - 72px - 88px);
    overflow-y: scroll;
    user-select: none;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: global.$primary-lighter;
    }

    &.open {
        right: 0px;
        border-radius: 0 0 0 8px;
    }
}